#material .list .item { width: 350px; margin-right: 15px; margin-bottom: 15px; border: 1px solid #ddd; background: #fff; float: left; zoom: 1; }
#material .list .first_item { border: 1px dotted #ddd; height: 150px; width: 305px; padding-left: 45px; }
#material .list .first_item>div { width: 85px; text-align: center; float: left; margin: 40px 20px; }
#material .list .first_item div.multi div { background: url(../images/addimagetext.png) no-repeat; }
#material .list .first_item div div a { display: block; width: 47px; height: 55px; }

/***********************模板************************/
.r_con_wrap { background: #fff; padding: 0 12px; padding-bottom: 20px; min-height: 200px; }
#skin .trade { margin-bottom: 15px; height: 30px; }
#skin .trade a.cur, #skin .trade a:hover { background: #1584D5; color: #fff; }
#skin .trade a { display: block; width: 80px; height: 30px; line-height: 30px; background: #ddd; float: left; margin-right: 10px; text-align: center; text-decoration: none; }
#skin .list { border: 1px solid #ddd; background: #f7f7f7; padding-top: 20px; }
#skin li { width: 205px; float: left; _display: inline; overflow: hidden; padding: 12px 25px; padding-top: 0; }
#skin li .item { text-align: center; }
#skin li .item .img { width: 200px; height: 340px; overflow: hidden; border: 3px solid #f1f1f1; border-radius: 5px; cursor: pointer; }
#skin li .item .img { cursor: pointer; }
#skin li .item .img img { height: 340px; }
#skin li .item .title { height: 21px; padding-top: 5px; line-height: 21px; overflow: hidden; text-align: center; }
#skin li.cur .img { border: 3px solid #F60; margin: 0px; }

/*****************************************************************/